.projects {
  margin-top: 30vh;
  width: 100%;
  min-height: 1500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

.projects--header {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}

.fa-code-header-right {
  margin-left: 2rem;
}

.fa-code-header-left {
  margin-right: 2rem;
}

.projects--header > h2 {
  font-size: 70px;
  font-weight: 600;
}

.projects--body {
  margin-top: 5rem;
  height: 1600px;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.single-project {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 3rem;
  color: #f5f3ea;
}

.single-project--description {
  height: 60%;
  margin-top: 10%;
  width: 40%;
  text-align: center;
}

.single-project--img {
  height: 80%;
  width: 50%;
  background-color: gray;
}

.single-project--img:hover {
  scale: 1.01;
}
